*{
	padding: 0;
	margin: 0;
	
}

body {
  text-align: center;
  font-family: "Roboto", monospace;
  margin-right:auto;
  margin-left: auto;
  width: 396px;
}

h1 {
  margin: 0 auto;
  font-weight: bolder;
  font-size: 30px;
  color: blue;
}

h2 {
  margin: 0 auto;
  font-size: 15px;
  font-weight: lighter;
  color: red;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 125px;
  height: 125px;
}

/* Make the image responsive */
.container img {
  width: 125px;
  height: 125px;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}

.footer{
  font-family: "Roboto", monospace;
  margin: 0 auto;
  font-size: 15x;
  font-weight: lighter;
  color: blue;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 12px 14px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

ul {
  width: 355px;
}
