*{
	padding: 0;
	margin: 0;
	
}

body {
  text-align: center;
  font-family: "Roboto", monospace;
  margin-right:auto;
  margin-left: auto;
  width: 396px;
}

.checkersB { 
        width: 392px; 
        height: 392px; 
        margin: 1px; 
        border: 3px solid #F44336; 
    } 
 
    .red, .yellow, .lightgreen{ 
        float: left; 
        width: 49px; 
        height: 49px; 
        font-size:40px; 
        text-align:center; 
        display: table-cell; 
        vertical-align:middle; 
        box-sizing: border-box; 
    } 

    .lightgreen { 
        background-color: lightgreen;
    } 
 
    .red { 
        background-color: #F44336; 
    } 
 
    .yellow { 
        background-color: #FFEB3B; 
    }

.yellow:hover {
  background-color: lightgray;
}

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}


.score {
  display:inline-block;
  width: 30%;
  text-align: center;
}


h1 {
  margin: 0 auto;
  font-weight: bolder;
  font-size: 35px;
  color: blue;
}

h2 {
  margin: 0 auto;
  font-size: 15px;
  font-weight: lighter;
  color: red;
}

h3 {
  margin: 0 auto;
  font-weight: lighter;
  font-size: 20px;
  text-decoration: underline;
}

h4 {
  margin: 0 auto;
  font-weight: bolder;
  font-size: 20px;
}

.button1 {
  height: 25px;
  width: 150px;
  margin: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 15px;
  cursor: pointer;
}

.button2 {
  height: 25px;
  width: 100px;
  margin: 1px 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.label1 {
  margin: 0 auto;
  font-size: 15px;
  font-weight: lighter;
  color: red;
}

.footer{
  font-family: "Roboto", monospace;
  margin: 0 auto;
  font-size: 15px;
  font-weight: lighter;
  color: blue;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 12px 14px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

