*{
	padding: 0;
	margin: 0;
	
}

#BBcanvas {
	background: #eee;
	display: block;
	margin: :0 auto;
}

#start, #pause{
  	font-size: 21px;
  	line-height: 30px;
  	width: 200px;
  	display:inline-block;
}

.complexity{
	width: 30px;
	justify-content: center;
}

label{
	font-size: 21px;
}

