
*{
	padding: 0;
	margin: 0;
	
}

ul {
  text-align: center;
  font-family: "Roboto", monospace;
  margin-right:auto;
  margin-left: auto;
  width: 396px;
}



#BBcanvas {
  	font-family: "Roboto", monospace;
	background: #eee;
	display: block;
	margin: :0 auto;
}


.complexity{
  	font-family: "Roboto", monospace;
	width: 30px;
	justify-content: center;
}

label{
	font-family: "Roboto", monospace;
	font-size: 15px;
}

.button1 {
  height: 25px;
  width: 150px;
  margin: 1px 1px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline;
  font-size: 15px;
  cursor: pointer;
}

.footer{
  font-family: "Roboto", monospace;
  margin: 0 auto;
  font-size: 15x;
  font-weight: lighter;
  color: blue;
}






ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 12px;
  padding: 12px 14px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}